<!-- @format -->
{% extends 'dashboard/base.html' %}
{% load static %} {% block content %}
<!-- Main Content -->
<div class="main-content">
  <section class="section">
    <div class="section-body">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-6">
          <div class="card card-primary">
            <div class="card-header pb-0">
              <h4>View Student</h4>
            </div>
            <div class="card-body">
              <ul
                class="list-unstyled user-details list-unstyled-border list-unstyled-noborder"
              >
                <li class="media">
                  <div class="media-body">
                    <div class="media-title">Name</div>
                  </div>
                  <div class="media-items">
                    <div class="media-item">
                      <div class="media-value">{{ student.full_name }}</div>
                    </div>
                  </div>
                </li>
                <li class="media">
                  <div class="media-body">
                    <div class="media-title">Roll No</div>
                  </div>
                  <div class="media-items">
                    <div class="media-item">
                      <div class="media-value">{{ student.roll_no }}</div>
                    </div>
                  </div>
                </li>

                <li class="media">
                  <div class="media-body">
                    <div class="media-title">Reg No</div>
                  </div>
                  <div class="media-items">
                    <div class="media-item">
                      <div class="media-value">{{ student.reg_no }}</div>
                    </div>
                  </div>
                </li>

                <li class="media">
                  <div class="media-body">
                    <div class="media-title">Class</div>
                  </div>
                  <div class="media-items">
                    <div class="media-item">
                      <div class="media-value">{{ student.class_detail.title }}</div>
                    </div>
                  </div>
                </li>
                <li class="media">
                  <div class="media-body">
                    <div class="media-title">Department</div>
                  </div>
                  <div class="media-items">
                    <div class="media-item">
                      <div class="media-value">{{ student.class_detail.department }}</div>
                    </div>
                  </div>
                </li>

                <li class="media">
                  <div class="media-body">
                    <div class="media-title">Semester</div>
                  </div>
                  <div class="media-items">
                    <div class="media-item">
                      <div class="media-value">{{ student.class_detail.semester }}</div>
                    </div>
                  </div>
                </li>
                <li class="media">
                  <div class="media-body">
                    <div class="media-title">Class teacher</div>
                  </div>
                  <div class="media-items">
                    <div class="media-item">
                      <div class="media-value">{{ student.class_detail.class_teacher }}</div>
                    </div>
                  </div>
                </li>

                <li class="media">
                  {% if request.user.is_admin or request.user.is_teacher%}
                  
                  <a
                    href="{% url 'student:delete' pk=student.pk %}"
                    class="ml-4 d-block btn btn-outline-danger btn-sm"
                    >Delete Student</a
                  >
                  <a href="{% url 'student:update' pk=student.pk %}"
                  class="ml-4 d-block btn btn-outline-primary btn-sm"
                  >Edit Student</a
                >
                {%endif%}
                </li>
                
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6">
        </div>
      </div>
      <div class="row">
          <div class="col-12 col-md-12">
          <div class="card card-dark">
            <div class="card-header pb-0">
              <h4>Attendance</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered table-md">
                  <tbody>
                    <tr>
                      <th>Lab Session</th>
                      <th>Login</th>
                      <th>Logout</th>
                    </tr>
                    {% for item in attendance %}
                    <tr style="background:{%if item.end_time %}#00db0052{%elif item.start_time %}#00fcff4a{%else%}#ff00004a{%endif%}">
                      <td><a href="{% url 'lab:view_lab_session' pk=item.lab_session.pk%}">{{ item.lab_session }}</a></td>

                      <td>{{ item.start_time }}</td>
                      <td>{{ item.end_time }}</td>
        
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </section>
</div>
{% endblock %} {% load static %}{% block scripts %} {{formset.media}}

<script src="{% static 'dashboard/js/jquery.formset.min.js' %}"></script>
<!-- <script src="{% static 'dashboard/bundles/editable-table/mindmup-editabletable.js' %}"></script> -->

<script type="text/javascript">
  $(document).ready(function () {
    $(".form_set_row").formset({
      prefix: "{{formset.prefix}}",
      formCssClass: "dynamic-formset1",
      addText: "Add-row",
      addCssClass: "btn btn-primary btn-sm ml-2",
      deleteCssClass: "delete-row",
      deleteText: "<i class='fas fa-trash-alt text-danger'></i>",
    });
  });
  //   $(function () {
  //     $("#mainTable").editableTableWidget();
  //   });
</script>

{% endblock %}
